.navbar{
  display: flex;
  justify-content: space-around;
}

/* .navbar__logo{
  color :red;
} */

.links{
  display: flex;
  align-items: center;
}

.links__item {
  display: flex;
  align-items: center;
}