.hero {
  display: flex;
}

.hero-left {
  width: 50%;
  height: 100vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 7rem;
}

.hero-right {
  width: 50%;
  /* height: 100vh; */
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-left h1 {
  font-size: var(--font-size-mammoth);
  font-weight: var(--font-weight-bold);
  margin-bottom: 1rem;
  margin-right: 25.3rem;
}

.hero-left p {
  font-size: var(--font-size-xmammoth);
  font-weight: var(--font-weight-thin);
}

.name {
  font-weight: var(--font-weight-bolder);
  color: var(--accent);
}

/* about-me section */

.about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.about-me h1 {
  font-size: var(--font-size-mammoth);
  font-weight: var(--font-weight-bold);
  margin-bottom: 6rem;
}
.about-me h1 > span {
  color: var(--accent);
}

.para {
  font-size: var(--font-size-xlarge);
  font-weight: var(--font-weight-thin);
  margin-bottom: 5rem;
  color: var(--text);
}

.about-me > .para > span {
  font-size: var(--font-size-xlarge);
  font-weight: var(--font-weight-thin);
  color: var(--accent);
  text-transform: uppercase;
}

/* find me section */

.find-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.find-me p {
  font-size: var(--font-size-normal);
  font-weight: var(--font-weight-thin);
  margin-top: 1rem;
  color: var(--text);
}

.find-me-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 5rem;
  margin-left: 3rem;
  height: 5rem;
  width: 30rem;
}

.find-me-links > a {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
  background-color: var(--accent);
  transition: all 0.3s ease-in-out;
}

.find-me-links > a:hover {
  /* box-shadow: 0 0 15px var(--text); */
  transition: all 0.3s ease-in-out;
  scale: 1.2;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--secondary);
  padding: 0.5rem 0;
  /* margin-bottom: 5rem; */
}

.footer-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 10rem;
}

.link-1 {
  color: var(--text);
  text-decoration: none;
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-thin);
  transition: all 0.3s ease-in-out;
}

.feather {
  stroke: var(--text);
  width: 3rem;
  height: 1rem;
  /* transition: all 0.5s ease-in-out; */
}
.feather:hover {
  stroke: var(--accent);
  /* transition: all 0.5s ease-in-out; */
}
