.hero{
  display: flex;
}

.hero-left{
  width: 50%;
  height: 100vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-right{
  width: 50%;
  /* height: 100vh; */
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-left h1{
  font-size: var(--font-size-mammoth);
  font-weight: var(--font-weight-bold);
  margin-bottom: 1rem;
  margin-right : 25.3rem;
}

.hero-left p{
  font-size: var(--font-size-xmammoth);
  font-weight: var(--font-weight-thin);
}

.name{
  font-weight: var(--font-weight-bolder);
  color : var(--accent);
}

